<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email_postulante_response</title>
    <style>
        @media only screen and (max-width: 480px) {
            .container {
                width: 100% !important;
                padding: 0 !important;
            }
            .content {
                padding: 1rem !important;
            }
        }
        @media only screen and (max-width: 600px) {
            .content {
                padding: 1rem 1rem !important;
            }
        }

        body {
            font-family: Trebuchet MS, serif;
        }
    </style>
</head>
<body>

<table class="container" style="border-collapse: collapse; font-family: Arial, serif; background-color: white; width: 100%;">
    <tr>
        <td class="content" style="padding: 1rem 10rem;">
            <img src="{logo}" alt="Roshka Logo" style="width: 100px; height: auto;">
        </td>
    </tr>

    <tr>
        <td class="content" style="padding: 1rem 10rem;">
                <p style="font-size: 1rem; color:black; font-weight: bold;">Lista de beneficios</p>
        </td>
    </tr>

    <tr>
        <td class="content" style="padding: 1rem 10rem;">
            <p style="font-size: 1rem; color:black; ">
                ¡Hola!,
            </p>
            <p style="font-size: 1rem; color:black;  ">
                En Roshka, nos esforzamos por crear un entorno laboral que no solo te brinde oportunidades profesionales.
                sino que también cuide de tus necesidades personales.  </p>
            <p style="font-size: 1rem; color:black; margin-top:2rem;">
                Por eso, estamos encantados de presentarte una serie de beneficios exclusivos diseñados pensando en ti: </p>
        </td>
    </tr>


    <tr>
        <td class="content" style="padding: 0rem 10rem;">
        {lista}
        </td>
    </tr>


    <tr>
        <td class="content" style="padding: 1rem 10rem;">
            <table width="100%" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                <tr>
                    <td align="right" style="border-bottom: 1px solid gray; padding: 0;"></td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td class="content" style="padding: 0rem 10rem; text-align: right;">
            <p style="font-size: 0.8rem; color:black; font-weight:bold; margin: 0;">Tte. Cusmanich 867 c/ Defensa Nacional</p>
            <p style="font-size: 0.8rem; color:black; font-weight:bold; margin: 0;">Código postal 1409</p>
            <p style="font-size: 0.8rem; color:black; font-weight:bold; margin: 0;">Asunción, Paraguay</p>
            <p style="font-size: 0.8rem; color:black; font-weight:bold; margin: 0;">+595 21 204 252</p>
            <p style="font-size: 0.8rem; color:black; font-weight:bold; margin: 0;">+595 21 214 884</p>
        </td>
    </tr>

</table>

</body>
</html>
